body {
  background-color: #f2f2f2;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  display: grid;
  place-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 280px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
input[type="submit"] {
  width: 300px;
}

input[type="submit"], button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 600;
  color: #f2f2f2;
  background-color: #000000;
  cursor: pointer;
}

a {
  font-size: 15px;
  font-weight: 600;
}

